## Deliverable 3. Create a Travel Itinerary Map.

In [49]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [50]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C://Users/KyleKato/OneDrive/ut_bootcamp/module_6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Muros,ES,72.16,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
1,2,Albany,US,70.05,clear sky,42.6001,-73.9662,NaN
2,4,Rach Gia,VN,82.47,overcast clouds,10.0167,105.0833,Nhà Hàng Hòa Giang
3,8,Harrison,US,80.67,broken clouds,30.4091,-89.0436,Residence Inn by Marriott Gulfport-Biloxi Airport
4,13,Nabire,ID,84.36,few clouds,-3.3667,135.4833,Hotel Nusantara I

In [51]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [52]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Muros']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Muros']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Torrelavega']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Calatayud'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Olot']

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start,
stop1,
stop2,
stop3,
end)

(42.7762, -9.0603) (43.3494, -4.0479) (41.3535, -1.6432) (42.181, 2.4901) (42.7762, -9.0603)

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([
    vacation_start,
    vacation_stop1,
    vacation_stop2,
    vacation_stop3
],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Muros,ES,72.16,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
1,520,Torrelavega,ES,72.05,broken clouds,43.3494,-4.0479,Hotel Torresport Spa
2,664,Calatayud,ES,76.24,clear sky,41.3535,-1.6432,Globales Castillo de Ayud
3,177,Olot,ES,72.61,clear sky,42.1810,2.4901,Hotel Riu Fluvià

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [65]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(40.0, 5.0), zoom_level=5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))